cd frimans.github.io
body{
  background: gray;
  background-image: url("mountain.JPG");
  background-size: center;
  background-position: center;
  font-family: arial;
  margin: 0;
  text-align: center;
}


div.transbox {
  color: black;
  background: rgba(255, 255, 255, 0.6);
  display: inline-block;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 10px
}
header{
  background: black;
  margin: 0;
  text-align: center;
  color: white;
}

header h1{
  margin: 0;
}
nav ul li{
  color: white;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  background: black;
}


ul{

  color: black;
  margin: 0;
  list-style: none;

}
h2{
  margin: 0;
  padding: 5px 5px;
  color: black;
}
h3{
  color: black;
}
a{
  color: white;
  text-decoration: none;
}
img.naamakuva{
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  max-width: 100%;
  height: auto;
}



img.ekg{
  display: block;
  height: auto;
  max-width: 100%;
}

.container{
  position: relative;
  width: 80%;
  background: red;
  float: left;
}
div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.container:hover .overlay {
  opacity: 1;
}

div.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.projects{
  display: inline-block;
  margin: 10px;
}

.space{
  height: 50px

}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
}
